* {
    margin: 0;
    padding: 0;
}

.body {
    background-color: #f3f3f4;
}

#searchbutton {
    height: 27px;
    width: 60px;
    background-color: hsl(167deg 100% 37%);
    border: none;
    border-radius: 2px;
    color: white;
}

.btn-sm {
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
}

.inbox p {
    font-size: 28px;
    font-family: 'open Sans', sans-serif;
}

.col {
    display: inline;
    font-size: 14px;
    border: 1px solid #e7eaec;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 3px;
}

.spin-icon {
    background: #1ab394;
    position: absolute;
    padding: 7px 10px 7px 13px;
    border-radius: 20px 0 0 20px;
    font-size: 16px;
    top: 1%;
    left: 96.7%;
    width: 40px;
    color: #fff;
    cursor: pointer;
}

.col-md-9 {
    background-color: white;
    height: 100%;
    width: 72%;
}

.head-inb {
    font-size: 30px;
    margin-bottom: 20px;
    font-family: 'open Sans', sans-serif;
    color: rgb(127, 129, 128);
}

.midcont {
    top: 0%;
    background-color: white;
    font-family: 'open Sans', sans-serif;
}

#searchbutton {
    height: 27px;
    width: 60px;
    background-color: hsl(167deg 100% 37%);
    border: none;
    border-radius: 2px;
    color: white;
    font-family: 'open Sans', sans-serif;
}

.arrow {
    float: right;
    margin-right: 50px;
    background-color: white;
}

.arrowcol {
    display: inline-block;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 6px;
    padding-left: 6px;
    border: 1px solid #f3f3f4;
}

.spin-icon {
    background: #1ab394;
    position: absolute;
    padding: 7px 10px 7px 13px;
    border-radius: 40px 0 0 40px;
    font-size: 15px;
    top: 1%;
    left: 95%;
    width: 40px;
    height: 5%;
    width: 5%;
    color: #fff;
    cursor: pointer;
}

.main {
    padding-bottom: 40px;
    border-bottom: 1px solid black;
}

.table {
    width: 100%;
}

.mails tr {
    width: 100%;
    border-bottom: 1px solid #e7eaec;
}

.mails td {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}

.success {
    background-color: #CAF7C8;
}

.search {
    font-size: 16px;
    font-family: 'open Sans', sans-serif;
    float: right;
    margin-right: 4%;
}

.head-inb {
    color: black;
    opacity: 0.7;
    margin-top: 70px;
}

#text {
    height: 30px;
    width: 300px;
}

#searchbutton {
    height: 30px;
    width: 60px;
    background-color: #00bf96;
    border: none;
    color: white;
}

.column {
    height: 10px;
    width: 10px;
    text-decoration: none;
    color: black;
}

.refresh {
    text-decoration: none;
    color: black;
    font-family: 'open Sans', sans-serif;
}

.container {
    width: 100%;
    padding: 0px;
}

.catigory {
    text-decoration: none;
    color: black
}

.midcount {
    height: 20%;
    width: 100%;
    border-bottom: 1px solid #e7eaec;
}