<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
<title>Gmail</title>
<div class="body">
    <div class="container-fluid">
        <div class="row">

            <div class="col-md-9">
                <div class="midcount">
                    <div class="main">
                        <div class="search">
                            <input id="text" type="text" name="search" placeholder="  Search email"><button id="searchbutton">Search</button>
                        </div>
                        <h3 class="head-inb">&nbsp;&nbsp;Send Mail</h3>

                        <ul class="arrow">
                            <div class="btn-group float-right">
                                <button class="btn btn-white btn-sm"><i
                                class="fa fa-arrow-left"></i></button>
                                <button class="btn btn-white btn-sm"><i
                                class="fa fa-arrow-right"></i></button>
                            </div>
                        </ul>
                        <div class="boxes">
                            <p> <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-refresh"></span> Refresh
                        </button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default btn-sm">
                            <i class="fa fa-exclamation"></i> &nbsp;
                        </button>&nbsp;&nbsp;
                                <button type="button" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-trash"></span>&nbsp;
                        </button>
                            </p>
                        </div>

                        <div align=center class="spin-icon">
                            <i class="fa fa-cogs fa-spin"> </i>
                        </div>

                    </div>
                    <div class="mails">
                        <div class="container">
                            <table class="table table-hover">
                                <tr class="success">
                                    <td>
                                        <input class="check" type="checkbox">
                                    </td>
                                    <td>Anna Smith</td>
                                    <td> </td>
                                    <td>Hello ! Greeting From Anna Smith. We sceduled a Meeting with the team</td>
                                    <td><i></i></td>
                                    <td></td>
                                </tr>
                                <tr class="unread">
                                    <td>
                                        <input class="check" type="checkbox">
                                    </td>
                                    <td>Mail chip</td>
                                    <td> </td>
                                    <td> There are Many versions of passengers Loero</td>
                                    <td> </td>
                                    <td></td>
                                </tr>
                                <tr class="success" *ngFor=" let obj of details ">
                                    <td>
                                        <input class="check" type="checkbox">
                                    </td>
                                    <td> </td>
                                    <td> </td>
                                    <td></td>
                                    <td><i></i></td>
                                    <td></td>
                                </tr>
                            </table>
                            <div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>